<form class="formulario" action='/' method="POST" autocomplete='on'>
  <h1 class='animate__fadeInUp'>Registro</h1>
  {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="nombre"
      placeholder="NOMBRE"
      name="nombre"
      autocomplete="name"
      value="{{nombre}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="apellido"
      placeholder="APELLIDO"
      name="apellido"
      value="{{apellido}}"
      autocomplete="surname"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="nick"
      placeholder="NICK NAME"
      value="{{nickname}}"
      name="nickname"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="email"
      class="form-control animate__fadeInUp"
      id="correo"
      placeholder="CORREO"
      name="email"
      value="{{email}}"
      autocomplete='email'
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="password"
      class="form-control animate__fadeInUp"
      id="password"
      placeholder="CONTRASEÑA"
      name="password"
      value="{{password}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="password"
      class="form-control animate__fadeInUp"
      id="verificarPassword"
      placeholder="VERIFICAR PASSWORD"
      name="verifypass"
      value="{{verifypass}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}

  <input 
      list="estadoCivil" 
      placeholder="ESTADO CIVIL" 
      class="form-control animate__fadeInUp" 
      name='estCivil'
      value="{{estCivil}}"
      required 
  />
   <datalist name="estCivil" id="estadoCivil">
      <option value="Soltero/a"></option>
      <option value="Casado/a"></option>
      <option value="Divorciado/a"></option>
      <option value="Viudo/a"></option>
      <option value="Unión Libre"></option>
    </datalist>

    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="tel"
      class="form-control animate__fadeInUp"
      id="telefono"
      placeholder="TELEFONO"
      name="phone"
      value="{{phone}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="date"
      class="form-control animate__fadeInUp"
      id="Fecha"
      placeholder="FECHA DE NACIMIENTO"
      name="age"
      value="{{age}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="provincia"
      placeholder="PROVINCIA"
      name="provincia"
      value="{{provincia}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="ciudad"
      placeholder="CIUDAD"
      name="ciudad"
      value="{{ciudad}}"
      required
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input 
      type="file" 
      class="load-img animate__fadeInUp" 
      id="file" 
      name="img"
      value="{{img}}"
      accept="image/*" 
    />
    {{!--
  </div>
  --}} {{!--
  <div class="form-group">
    --}}
    <input
      type="text"
      class="form-control animate__fadeInUp"
      id="numCedula"
      placeholder="NUMERO DE CEDULA"
      name="cedula"
      value="{{cedula}}"
      required
    />
    {{!--
  </div>
  --}}

  <label class='genero animate__fadeInUp' for="">GENERO:</label>
  <div class="content-gender animate__fadeInUp">
    <input type="radio" id="masculino" name="genero" value="masculino" />
    <label for="masculino">Masculino</label>
    <input type="radio" id="femenino" name="genero" value="femenino" />
    <label for="femenino">Femenino</label>
    <input type="radio" id="otro" name="genero" value="otro" />
    <label for="otro">Otro</label>
  </div>
  <div class="content-buttons">
    <button type="submit" class="btn btn-primary" style="margin-left: 10px">
      <strong>
      Send
      </strong>
    </button>

    <button class="btn btn-warning" style="margin-left: 10px">Borrar</button>
  </div>
</form>
